* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* header {
    height: 100px;
    display: flex;
    align-items: flex-end;
} */

.text_header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px 50px;
}

section {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .main_center {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


section .main_center .buttons {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

section .main_center .buttons .box_input {
    width: 100%;
    height: 44px;
    padding: 13px;
    border: 1px solid #ccc;
    z-index: 3;
    outline: none;
    font-size: 16px;
    border-radius: 24px;
    padding-left: 45px;
    padding-right: 45px;
}

section .main_center .buttons .box_input:hover {
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
}

section .main_center .buttons .iconos {
    width: 100%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: absolute;
    pointer-events: none;
    padding: 12px 20px;
}

section .main_center .center {
    display: flex;
    padding-top: 20px;
}

.button_search {
    height: 35px;
    background: rgb(231, 228, 228);
    border: 1px solid white;
    color: rgb(60, 64, 68);
    border-radius: 5px;
    font-size: 15px;
    margin: 11px 5px ;
    padding: 0 16px;
    line-height: 35px;
    min-width: 55px;
    text-align: center;
    user-select: none;
    cursor: pointer;   
}

.button_search:hover {
    background: rgb(250, 250, 250);
    color: rgb(37, 37, 39);
    border: 1px solid rgb(220 220, 225);
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.2);
}

.img_perfil {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px 0px 0px 30px;
}

.google {
    width: 280px;
}

.search {
    width: 22px;
    margin: 0px 0px 10px 0px;
}

.mic {
    width: 20px;
    margin: -10px 0px 0px 0px;
}

footer {
    height: 100px;
    align-items: flex-start;
}

a {
    color: black;
    text-decoration: none;
}