body {
    background:#0d1a2d;
}

section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nft {
    height: 200px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

}

div {
    color: white;
}
